<div class="swiperContainer">
    <div class="swiper-wrapper mt-2">
        <div class="swiper-slide">
            <div class="container-general p-2">
                <div class="gallery-wrap wrap-effect-3">
                    <div class="item">
                        <div class="item-caption">
                            <h2>Tutorial</h2>
                            <p>Aprende los controles básicos para jugar PineHopper</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-caption">
                            <h2>Planicie del Sol Muerto</h2>
                            <p>Explora este páramo desolado donde la luz del sol ha abandonado la tierra. Encuentra los fragmentos de
                                esperanza entre las sombras alargadas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-caption">
                            <h2>Tundra de Hielonoche</h2>
                            <p>Sobrevive al frío perpetuo de esta región helada donde la oscuridad reina. Descubre secretos congelados en el
                                tiempo mientras el viento gélido dificulta tu avance.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-caption">
                            <h2>Fauces de Ignarok</h2>
                            <p>Adéntrate en el corazón ardiente del volcán donde el destino del mundo se decidirá. Supera las trampas 
                                para enfrentar al ser que amenaza toda existencia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
